body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 200%;
  text-align: center;
}

h1 {
  color: #F7B91F;
  margin-top: 0;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.75rem;
}

h2 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #868484;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

p {
  color: #868484;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.6;
}

.behance-logo {
  position: absolute;
  top: 10px;
  right: 0;
}

.linkedin-logo {
  position: absolute;
  top: 10px;
  right: 50px;
}

.btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #F7B91F;
  padding: 10px 20px 12px 18px;
  text-decoration: none;
}

.btn-top {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #F7B91F;
  padding: 10px 20px 12px 18px;
  text-decoration: none;
  position: absolute;
  top: 650px;
  right: 300px;
}
.btn-top:hover {
  background: #030303;
  text-decoration: none;
}


.btn:hover {
  background: #030303;
  text-decoration: none;
}


.top-container {
  background-color: white;
  text-align: left;
}

.foto-about {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 25%;
  border-radius: 10%;
}

.headline {
  position: absolute;
  top: 200px;
  right: 300px;
  left: 850px;
  text-align: left;
}

.bodyline {
  position: absolute;
  top: 440px;
  right: 300px;
  left: 850px;
  text-align: left;
}

.exp-me {
  margin-top: 800px;
}

.about-us {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pur {
  position: absolute;
  top: 330px;
  right: 300px;
}

.designer {
  position: absolute;
  top: 540px;
  right: 300px;
  text-align: right;
  line-height: 1.6;
}

.middle-container {
  margin-top: 100px;
}

.bottom-container {
  margin-top: 100px;
}

.profil {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 200px;
}

.about {
  position: absolute;
  top: 930px;
  left: 300px;
}

.me {
  position: absolute;
  top: 980px;
  left: 300px;
}

.content-me {
  text-align: left;
  position: absolute;
  top: 1080px;
  left: 300px;
  right: 800px;
  line-height: 1.6;
}

.skill {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: #f1f1f1;
  min-width: 230px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;

  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}


.header {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px;
  font-family: 'Lato', sans-serif;
}

.header a {
  float: left;
  color: #868484;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  color: black;
}

.header .active {
  color: #868484;
}

.header .about-active {
  color: #868484;
}

.logo-brand {
  position: absolute;
  top: 1px;
  left: -50px;
}

.header-left {
  float: none;
  position: absolute;
  left: 350px;
  top: 10px;
}

@media screen and (max-width:500px) {
  .header a {
    float: none;
    display: block;
    text-align: right;
  }
}

.header-right {
  float: none;
  position: absolute;
  right: 300px;
  top: 10px;
}

.software {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50%
}
.portfolio {
  position: absolute;
  left: 300px;
  right: 300px;
}
.work-container {
  width: 40em;
  border-radius: 20px;
  position: absolute;
  margin-top: 50px;
  margin-bottom: 100px;
  display: block;
  transition: all .4s ease-in-out;
  text-align: center;
  background-color: #F7B91F; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #F7B91F, gold);
  height: 700px;

}

.img-about {
  margin-top: 70px;
}
.image-giias {
  width: 5em;
  margin-left: 340px;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 5px;
}
.sec-branding {
  text-align: center;
}

.work-container2 {
  width: 40em;
  border-radius: 20px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  transition: all .4s ease-in-out;
  background-color: #F7B91F; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #F7B91F, gold);
  height: 700px;
  text-align: center;
}

.image-auto360 {
  width: 5em;
  margin-left: 340px;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 5px;
}

.work-container3 {
  width: 40em;
  border-radius: 20px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  transition: all .4s ease-in-out;
  background-color: #F7B91F; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #F7B91F, gold);
  height: 700px;
  text-align: center;
}

.image-mls {
  width: 5em;
  margin-left: 230px;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 5px;
}

.work-container4 {
  width: 40em;
  border-radius: 20px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  display: block;
  transition: all .4s ease-in-out;
  background-color: #F7B91F; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #F7B91F, gold);
  height: 700px;
  text-align: center;
}

.image-interaction {
  width: 5em;
  margin-left: 340px;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 5px;
}
.lottie {
  position: absolute;
  bottom: 20px;
}

.teks-branding4 {
  margin-bottom: 100px;
}

.footer {
  color: #868484;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.work-giias {
  position: absolute;
  top: 280px;
  right: 300px;
}

.branding {
  position: absolute;
  top: 500px;
  right: 300px;
  text-align: right;
  line-height: 1.6;
}

.giias-problem {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}

.new1 {
  border-top: 1px dashed grey;
  margin: 100px 300px 100px 300px;
}

.konsep-logo {
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 50px;
}

.link-giias {
  color: #F7931E;
  text-decoration: underline;
}

.img-auto {
margin-left: 300px;
}

.work-auto {
  position: absolute;
  top: 400px;
  right: 300px;
}

.ui-auto {
  position: absolute;
  top: 450px;
  right: 300px;
  text-align: right;
  line-height: 1.6;
}

.hero-lottie {
  margin-top: 100px;
  margin-left: 300px;
}

.hero-lottie2 {
  margin-left: 600px;
}

.hero-lottie3 {
  margin-left: 600px;
}
.hero-lottie4 {
  margin-left: 550px;
}

.hero-lottie5 {
  margin-left: 550px;
}

.work-airasia {
  position: absolute;
  top: 400px;
  right: 300px;
}

.airasia {
  position: absolute;
  top: 450px;
  right: 300px;
  text-align: left;
  line-height: 1.6;
}

.new2 {
  border-top: 1px dashed grey;
  margin: 100px 900px 100px 900px;
}

.link-bg {
  color: #F7931E;
}
